{% extends 'website/base.html' %}

{% block content %}

<section class="section">

    <div class="container">

        <div class="text-center mb-5">

            <h1 class="fw-bold display-4">

                ERP Login Portal

            </h1>

            <p class="fs-5 text-muted mt-3">

                Select your role to continue

            </p>

        </div>

        <div class="row g-4 justify-content-center">

            <!-- STUDENT -->

            <div class="col-lg-3 col-md-6">

                <div class="card-custom text-center p-4 shadow rounded-4 bg-white">

                    <i class="bi bi-mortarboard-fill fs-1 text-primary"></i>

                    <h3 class="mt-4">

                        Student Login

                    </h3>

                    <a
                        href="/student-login/"
                        class="btn btn-primary mt-4 px-5 py-3 rounded-4"
                    >

                        Login

                    </a>

                </div>

            </div>

            <!-- TEACHER -->

            <div class="col-lg-3 col-md-6">

                <div class="card-custom text-center p-4 shadow rounded-4 bg-white">

                    <i class="bi bi-person-workspace fs-1 text-success"></i>

                    <h3 class="mt-4">

                        Teacher Login

                    </h3>

                    <a
                        href="/teacher-login/"
                        class="btn btn-success mt-4 px-5 py-3 rounded-4"
                    >

                        Login

                    </a>

                </div>

            </div>

            <!-- ADMIN -->

            <div class="col-lg-3 col-md-6">

                <div class="card-custom text-center p-4 shadow rounded-4 bg-white">

                    <i class="bi bi-shield-lock-fill fs-1 text-dark"></i>

                    <h3 class="mt-4">

                        Admin Login

                    </h3>

                    <a
                        href="/admin-login/"
                        class="btn btn-dark mt-4 px-5 py-3 rounded-4"
                    >

                        Login

                    </a>

                </div>

            </div>

            <!-- PARENT -->

            <div class="col-lg-3 col-md-6">

                <div class="card-custom text-center p-4 shadow rounded-4 bg-white">

                    <i class="bi bi-people-fill fs-1 text-warning"></i>

                    <h3 class="mt-4">

                        Parent Login

                    </h3>

                    <a
                        href="/parent-login/"
                        class="btn btn-warning mt-4 px-5 py-3 rounded-4"
                    >

                        Login

                    </a>

                </div>

            </div>

        </div>

    </div>

</section>

{% endblock %}