{% extends 'base/base.html' %}

{% block content %}

<div class="container-fluid">

    <div class="dashboard-hero mb-5">

        <div>

            <h2 class="fw-bold">
                {{ class_name }}
            </h2>

            <p class="mb-0">
                Fee Management
            </p>

        </div>

    </div>

    <div class="row g-4">

        <div class="col-md-4">

            <a
                href="{% url 'add_class_fee' class_name %}"
                class="text-decoration-none"
            >

                <div class="dashboard-card text-center">

                    <h3>💰</h3>

                    <h5>Add Fee</h5>

                </div>

            </a>

        </div>

        <div class="col-md-4">

            <a
                href="{% url 'import_fees' %}"
                class="text-decoration-none"
            >

                <div class="dashboard-card text-center">

                    <h3>📤</h3>

                    <h5>Import Fees</h5>

                </div>

            </a>

        </div>

        <div class="col-md-4">

            <a
                href="{% url 'class_fee_list' class_name %}"
                class="text-decoration-none"
            >

                <div class="dashboard-card text-center">

                    <h3>📋</h3>

                    <h5>View Fees</h5>

                </div>

            </a>

        </div>

    </div>

</div>

{% endblock %}